# Ignore Maven and Gradle build artifacts
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build directories
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Visual Studio Code
.vscode/

# Node.js (Frontend and Backend)
node_modules/
npm-debug.log
yarn-error.log
